//COLORS
$main-color: hsl(256, 51%, 62%);
$secondary-color:hsl(191, 100%, 50%);
$highlight-color:hsl(39, 72%, 29%);
$white : hsl(264, 15%, 94%);
$black:#30323d;


$darken-amount:30;
$lighten-amoun:10;

// LAYOUT BREAKPOINTS
$break-narrow: 690px;
$break-normal: 880px;
$break-wide: 1280px;


